* {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scrollbar-width: 0.1em; /*doesn't work*/
  scrollbar-color: darkgray rgba(0, 0, 0, 0.3); /*doesn't work*/
}
*::-webkit-scrollbar {
  width: 0.1em;
  height: 0.1em;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 0.5%;
}

.App{
  display: flex;
  flex-direction: column;
}
